# Python / Video Rendering ignores
__pycache__/
*.pyc

# Heavy local binaries
ffmpeg/

# Intermediate and Final Media
temp_segments/
output_videos/
downloaded_images/
*.m4a
*.mp3
*.txt
*.json
*_images/

# Un-ignore sample files for GitHub demo
!done stats 2a.m4a
!done stats 2a.m4a.json
!stats 2a/
!done stats 2a.m4a_images/
!output_videos/
!output_videos/stats 2a.mp4
!*.ipynb
